<div class="sidebar">
    <h2>admin</h2>
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/message">Messages</a></li>
        <li><a href="/accounts">Accounts</a></li>
    </ul>
</div>