body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar Styling */
.sidebar {
    width: 280px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    font-size: 35px;
    color: #000;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
    padding-top: 40px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 28px;
    padding: 10px;
    display: block;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #ffd700;
    border-left: 4px solid #ffd700;
    padding-left: 8px;
    font-size: 40px;
}

/* Main Content Styling */
.main-content {
    flex: 1;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

/* Header Styling */
.header {
    background-color: #375845;
    color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Content Section Styling */
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Product Form Section */
.product-container {
    width: 50%; /* Keep the form's original width */
    margin-bottom: 20px;
}

.product-container .card {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-container form label {
    display: block;
    margin-bottom: 5px;
}

.product-container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Product List Section */
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-list .card {
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-list .card p {
    margin: 5px 0;
    text-align: center;
}

.product-list .card img {
    border-radius: 8px;
}
