body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* Sidebar Styling */
.sidebar {
    width: 200px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    font-size: 40px;
    color: #000;
    margin-bottom: 20px;
    padding-top: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
    padding-top: 40px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.sidebar ul li a:hover,
.sidebar ul li a.active {
    color: #ffd700;
    border-left: 4px solid #ffd700;
    padding-left: 8px;
    font-size: 30px;
}

/* Main Content Styling */
.main-content {
    flex: 1;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #375845;
    color: #fff;
    padding: 45px;
    display: flex;
    align-items: center;
    position: relative;
}

/* User Icon Styling */
.header .user-icon {
    width: 50px;
    height: 50px;
    background-color: #d1d1d1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    font-size: 14px;
    position: absolute; /* Position the user icon absolutely within the header */
    top: 20px; /* Align it with the top padding of the header */
    right: 20px; /* Align it with the right padding of the header */
}

/* Content Section Styling */
.content {
    flex: 1;
    padding: 10px;
    background-color: #dcdcdc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 36px;
    color: #333;
}


.card {
    width: 150px;
    height: 150px;
    background-color: #ffcc00;
    border-radius: 20px;
}
